@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC:wght@300;400;700&family=Noto+Sans+TC:wght@100..900&display=swap');

$primary-orange: var(--primary-orange);
$primary-blue: var(--primary-blue);

.btn {
  &-orange {
    background-color: var(--primary-orange) !important;
    color: white !important;
  }
  &-blue {
    background-color: $primary-blue !important;
    color: white !important;
  }
  &-red {
    background-color: red !important;
    color: white !important;
  }
}

.page-title {
  text-align: center;
  margin-top: 1.6rem;
  letter-spacing: 1px;
}

.page-subtitle {
  color: var(--primary-orange);
  text-align: center;
  margin-top: 0.4rem;
  letter-spacing: 0.6px;
}

.paragraph-title {
  font-size: 1.6rem;
  border: 2px solid #fff;
  background-color: var(--primary-orange);
  border-radius: 8px;
  padding: 0.2rem 0.8rem;
  display: inline-block;
  color: #fff;
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
}

.paragraph {
  .date-text {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--primary-orange);
  }
  .link {
    color: var(--primary-orange);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.paragraph-list {
  padding-left: 20px;
  font-size: 12px;
}

.orange-text {
  color: var(--primary-orange);
}

.orange-bold-text {
  color: var(--primary-orange);
  font-weight: 600;
}

.white-bold-text {
  color: #fff;
  font-weight: 600;
}

.text-bold {
  font-weight: 600;
}

@keyframes cloud-animation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes sun-animation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes drop-animation {
  0% {
    transform: scale(0) translate(-50%, -50%);
    opacity: 1;
  }
  50% {
    transform: scale(1) translate(-50%, -50%);
    opacity: 0;
  }
  100% {
    transform: scale(2) translate(-50%, -50%);
    opacity: 0;
  }
}